
body {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  color: salmon;
  background-color: gainsboro;
  line-height: 1.5;
  font-size: 20px;
  text-align: center;
}

header {
  margin: 5%;
}

h1 {
  color: darksalmon;
}

img {
  max-width: 60%;
}

.red-text {
  color: lightsalmon;
}
